<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      <title>CDSS SearchPage</title>

      <!-- font Awesome 5 CSS -->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      <style>
          .navbar{
  background-color: #fcfcfc !important;/* 내비게이션 배경 색상 */
}
.navbar .navbar-brand{/* 내비게이션 제목 'CDSS' 글자 및 하이라이트 색상 */
  color: #fff;
  background-color: #4374D9;
  border-bottom-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus
{
    color: #fff;
    background-color: #4374D9;
}
/* navbar의 버튼들의 css */
.btn-round{
    border-radius: 24px;
    background-color: #fcfcfc;
}
.btn-round:hover,
.btn-round:focus
{
    background-color:#eaeaea;
    color: black;
}
.right-header-btn{
    margin-right:8px;
}
.btn-circle{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 10px;
}
/* side bar */
/* Basic css */
body {
  padding-top: 54px;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.portfolio-item {
  margin-bottom: 30px;
}
.pagination {
  margin-bottom: 30px;
}
      </style>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><b>&nbsp;&nbsp;CDSS&nbsp;&nbsp;</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <form class="navbar-form">
                    <div class="input-group">
                        <input type="text" name="key" class="form-control placeicon" name="searchBar" placeholder="검색" style="width: 690px">
                        <button class="btn btn-info" type="search"><i class="fa fa-search"></i></button>
                        <button class="btn btn-primary"><i class="fas fa-angle-down"></i></button>

                    </div>

                </form>


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <button class="btn btn-round right-header-btn" href="#"><b>홈</b>
                            <span class="sr-only">(current)</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-round right-header-btn" href="#"><b>마이페이지</b></button>
                    </li>
                    <div class="btn-group">
                        <button class="btn btn-round right-header-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">menu1</a></li>
                            <li><a class="dropdown-item" href="#">menu2</a></li>
                            <li><a class="dropdown-item" href="#">menu3</a></li>
                        </div>
                    </div>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div>
    <div class="card text-center card w-50">
  <div class="card-body">
      <h5 class="card-title">Mindmap name</h5>
    This is some text within a card body.

  </div>
</div>
        </div>
<!-- Mindmap Btn -->
<div class="text-right">
<button class="btn btn-info float-xl-right"><i class="fas fa-caret-left"></i></button>
		</div>

<!-- Page Content -->
<div class="container">

		<!-- Page Heading -->

		<div class="row">
			<% Object.keys(paper.papers).forEach(function(key) {%>
				<div class="col-lg-4 col-sm-6 portfolio-item">
						<div class="card h-100">
								<div class="card-body">
										<h4 class="card-title">
												<a href="#"><%-paper.papers[key].title%></a>
										</h4>
				<%pubmed.abstract(paper.papers[key].pmid).then((abstract)=>{
				console.log(abstract, "\n\n");%>
										<p class="card-text">hihi</p>
				<p class="card-text"><%-abstract%></p>
				<%});%>
								</div>
						</div>
				</div>
				<% }); %>
