<!DOCTYPE html>
<html>
<head>
	<title>논문검색</title>
</head>
<body>
	<h1>논문검색</h1>
	<hr>
		<form method = "post">
				<input type="text" name="searchBar">
        <input type="submit" class="btn btn-info" value="검색">
		</form>

	<table width="100%" border="1">
	 <tr>
		<th>ID</th>
		<th>PWD</th>
		<th>name</th>
		<th>sex</th>
		<th>birth</th>
		<th>ph</th>
		<th>email</th>
	 </tr>

	</table>
</body>
</html>
