<!DOCTYPE html>
<html>
	<head>
		<title>Pubmed Example</title>
	</head>

	<body>
		<h2> PUBMED </h2>
		<hr>
		<form name="keyword" method="POST">
			<div class="input">
				<span class="label">사용자</span>
				<input type="text" name="searchBar">
				<input type="submit" value="입력">
			</div>
		</form>
	</body>
</html>
